:root {
  background-color: black; 
 } 

#grid-image {
  transition: 0.25s;
  border-radius: 5px;
}

#grid-image:hover {
  transform: scale(0.97);
}

#projectContainer {
  border-radius: 0.25rem;
  box-shadow: 0 0.5em 1em -0.125em rgba(230, 230, 230, 0.5), 0 0px 0 1px rgba(230, 230, 230, 0.06);;
}

#projects, #about, #project, #modal{
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#icon {
  transition: 0.25s;
}

#icon:hover {
  transform: scale(0.97);
}

.modal-background {
  backdrop-filter: blur(7px);
}

.bebas {
  font-size: 6rem;
}

#hr {
  background-color: #1A1A1A;
}

#projectsLink:hover {
  text-decoration: underline;
}

@media screen and (min-width:1024px) {
  #navBarMenu {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  main {
    overflow: s;
  }

  #container {
    height: 50%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: rgb(230,230,230,0.1);
    border-radius: 0.25rem;
  }

  main {
    height: 100vh;
    overflow: hidden;
   }

}


@media screen and (max-width:1023px) {

  #about, #project, #projects {
    padding-top: 0;
  }

  #info {
    padding-bottom: 0;
  }

  #grid-image:hover {
    transform: scale(0.97);
  }
}
