//Bulma variables
$navbar-background-color: black;
$navbar-item-color: white;
$navbar-item-hover-color: #ff007f;
$navbar-item-hover-background-color: rgb(230,230,230,0.1);

//imports Bulma
@import "../node_modules/bulma/bulma.sass";